

html,body {
    margin: 0;
    padding: 0;
  }
  
  body {
    padding-top: 1em;
    text-align: center;
    background-color: rgb(28, 25, 179);
    
    background-size: cover;
    background-repeat: space;
    background-image: na;
  }
  
  h1, h2 {
    font-family: 'Press Start 2P', monospace;
    color: rgb(99, 138, 192);
  }
  
  canvas {
    
    background-repeat: repeat;
    background-color: #222;
    width: 100%;
    height: 100%;
  }
  
  #container {
  max-width: 500em;
  height: 70vh;
  background-color: rgb(28, 25, 179);
  margin: 0 auto;
  padding: 1em;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: .25fr .5fr .25fr;
  grid-template-columns: .25fr .5fr .25fr;
  grid-template-areas: "top-left top-center top-right" "game game game"
                          "btm-left btm-right btm-right";
                          
  }
  
  #top-left, #top-right, #btm-left, #btm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
  }
  
  #top-left {
    grid-area: top-left;
  }

  #top-center {
    grid-area: top-center;
    background-color: #222;
  }

  #top-right {
    grid-area: top-right;
    background-color: #222;
  }
  
  main {
    grid-area: game;
  }
  
  #btm-left {
    grid-area: btm-left;
    background-color: #222;
  }
  
  #btm-right {
    grid-area: btm-right;
    background-color: #222;
  }
  
  input {
    background-color: rgb(28, 25, 179);
    color:rgb(99, 138, 192);
    width: 120px;
    height: 30px;
    border-radius: 25px;
    border: 3px rgb(99, 138, 192) solid;
    font-size: 15px;
  }

  input:hover {
    background-color: rgb(99, 138, 192);
    color: black;
    border: 3px solid black;
  }

  #difficulty {
    text-align: center;
    width: 500px;
    display: flex;
    justify-content: space-around;
  }